# dependencias
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# base de datos local
local.db
local.db-*

# entorno y secretos
.env*
!.env.example

# vercel
.vercel

# sistema / editores
.DS_Store
*.pem
.idea/
.vscode/
npm-debug.log*
